<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Novo Chamado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Abrir Novo Chamado</h2>
        <p>Preencha os dados abaixo para registrar o problema na fila da TI.</p>

        <form action="{{ url_for('novo_chamado') }}" method="POST">
            <label for="cliente">Nome do Cliente:</label>
            <input type="text" id="cliente" name="cliente" required placeholder="Ex: Setor Financeiro">

            <label for="descricao">Descrição do Problema:</label>
            <textarea id="descricao" name="descricao" rows="5" required placeholder="Descreva o erro com detalhes..."></textarea>

            <label for="prioridade">Prioridade:</label>
            <select id="prioridade" name="prioridade" required>
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
            </select>

            <button type="submit" class="btn btn-principal">Registrar Chamado</button>
        </form>
        
        <br>
        <a href="{{ url_for('index') }}" class="link-voltar">⬅ Voltar ao Início</a>
    </div>
</body>
</html>